<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css} " rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/adminLTE/css/AdminLTE.min.css}" rel="stylesheet"/>
    <style>
        html {
            height: auto;
        }

        .login-page {
            background-image: url('/dists/img/welcome-1.png')
        }

    </style>
</head>
<body class="hold-transition login-page">
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>


</body>
</html>